<div class="container__big-card">

    <div class="big-card__photo">
        <img src="/biribiri.jpg"
             alt="Biribiri"
             height="200px"
             srcset="">
    </div>

    <div class="big-card__title">
        <h1><a href="https://www.google.com/maps/place/Parque+Estadual+Biribiri" target="_blank">Biribiri State Park</a></h1>
    </div>

    <div class="big-card__description">
        <p>
        Biribiri State Park was created in 1998
        and is located 13km from the city of Diamantina 
        in the state of Minas Gerais - Brazil.
        The main attractions are waterfalls, natural wells
        and the village of Biribiri.
        </p>
    </div>
</div>
