<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            photoCover="/biribiri.jpg"
            cardTitle="Biribiri State Park"
            cardDescription="Biribiri State Park was created in 1998 
            and is located 13km from the city of Diamantina in the 
            state of Minas Gerais - Brazil. The main attractions are 
            waterfalls, natural wells and the village of Biribiri."
            >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            photoCover="/caraca.jpg"
            cardTitle="Caraça Sanctuary"
            cardTitleLink="https://maps.app.goo.gl/GEUbopqBoxazUpTH6"
            >
        </app-small-card>
        <app-small-card
            photoCover="/congonhas.jpg"
            cardTitle="Congonhas City"
            cardTitleLink="https://maps.app.goo.gl/iaWXucGJX7F5XMFZ8"
            >
        </app-small-card>
        <app-small-card
            photoCover="/diamantina.jpg"
            cardTitle="Diamantina City"
            cardTitleLink="https://maps.app.goo.gl/pC2gH7EpSfEmCKe28"
            >
        </app-small-card>
    </div>
</div>